$blue:#174165;
@mixin center() {
  display:flex;
  justify-content:center;
  align-items:center;
}
@mixin xycenter($hei,$wid) {
  width:$wid;
  height:$hei;
  position: absolute;
  top:50%;
  left: 50%;
  margin-top: -($hei/2);
  margin-left: -($wid/2);
  text-align: center;
}
@mixin card($fl){
  margin-right: 0px;
  margin-top: 100px;
  background-color: #fff;
  border:1px solid #ccc;
  border-#{$fl}: 0;
  padding:20px;
  img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:1px solid #ccc;
    // display: inline;
    float: left;
    margin: 20px;
  }
  h3,h4,h6{
    margin-bottom: 0;
  }
  p{
    font-size: 15px;
    clear: both;
    line-height: 24px;
    padding: 15px;
  }
}

@keyframes myfirst {  
  0%   { left:0px; top:0px;} 
  25%  { left:3px; top:1px;} 
  50%  { right:3px; top:0px;} 
  75%  { left:3px; top:-1px;} 
  100% { right:0px; top:0px;} 
}   
@-webkit-keyframes myfirst  {  
  0%   { left:0px; top:0px;} 
  25%  { left:3px; top:1px;} 
  50%  { right:3px; top:0px;} 
  75%  { left:3px; top:-1px;} 
  100% { right:0px; top:0px;} 
}

@keyframes mysecound {  
  0%   { transform: rotate(17deg);} 
  25%  { transform: rotate(16deg);} 
  50%  { transform: rotate(15deg);} 
  75%  { transform: rotate(16deg);} 
  100% { transform: rotate(17deg);} 
}   
@-webkit-keyframes mysecound  {  
  0%   { transform: rotate(17deg);} 
  25%  { transform: rotate(16deg);} 
  50%  {transform: rotate(15deg);} 
  75%  { transform: rotate(16deg);} 
  100% { transform: rotate(17deg);} 
}

@keyframes mythird {  
  0%   { transform: rotate(-17deg);} 
  25%  { transform: rotate(-19deg);} 
  50%  { transform: rotate(-20deg);} 
  75%  { transform: rotate(-19deg);} 
  100% { transform: rotate(-17deg);} 
}   
@-webkit-keyframes mythird  {  
  0%   { transform: rotate(-17deg);} 
  25%  { transform: rotate(-19deg);} 
  50%  {transform: rotate(-20deg);} 
  75%  { transform: rotate(-19deg);} 
  100% { transform: rotate(-17deg);} 
}

@keyframes changeimg {  
  0%   { background-image:url(../images/IMG_1399.JPG);} 
  25%  { background-image:url(../images/IMG_1410.JPG);} 
  50%  { background-image:url(../images/IMG_1408.JPG);} 
  75%  { background-image:url(../images/IMG_1409.JPG);} 
  100% { background-image:url(../images/IMG_1357.JPG);} 
}   
@-webkit-keyframes changeimg {  
  0%   { background-image:url(../images/IMG_1399.JPG);} 
  25%  { background-image:url(../images/IMG_1410.JPG);} 
  50%  { background-image:url(../images/IMG_1408.JPG);} 
  75%  { background-image:url(../images/IMG_1409.JPG);} 
  100% { background-image:url(../images/IMG_1357.JPG);} 
} 

.fl{
  float: left;
}
.fr{
  float: right;
}
.col3{
  width: 25%;
  float: left;
  position: relative;
}
.col6{
  width: 50%;
  float: left;
  position: relative;
}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-weight: 300;
  list-style: none;
  /* background-color:#ccc;*/
}
body{
  min-width: 1400px;
}
#page1{
  width:100%;
  height:804px;
  background:url(../images/dot.svg),linear-gradient(140deg,rgba(24,46,74,.85),rgba(70,174,195,.65)),url(../images/page1.jpg);
  background-size: 3px,auto,cover;
  position: relative;
}
// #cover{
//   width:100%;
//   height:804px;
//   background-color:$blue;
//   opacity: 0.6;
//   position: relative;
// }
#nav{
  letter-spacing: 2px;
  padding: 40px;
  color: #fff;
  opacity: 1;
}
#nav span{
  background: url("../images/pic1.png") no-repeat;
  background-size: 40px 38px;
  margin-left: 16px;
  padding-left: 50px;
  padding-top: 8px;
  font-size: 20px;
  cursor: pointer;
  &:hover{
    color: #C4CBC3;
  }
}
#nav ul{
  list-style: none;
  float: right;
  li,li>a{
    margin-right:20px;
    float: left;
    cursor: pointer;
    &:hover{
      color: #AAAFA8;
    }
  }
}
.title{
  @include xycenter(300px,700px);
  color: #fff;
  h1{
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 10px;
    position: relative;
    animation:myfirst 0.2;  
    animation-iteration-count:infinite; 
    -webkit-animation:myfirst 0.2s;  
    -webkit-animation-iteration-count:infinite; 
  }
  p{
    letter-spacing: 2px;
  }
  button{
    outline-width: 0px;
    border: none;
    width: 226px;
    height: 60px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 50px;
    background: #50BD0D;
    border-radius: 5px;
    letter-spacing: 2.5px;
    color: #fff;
    font-size: 16px;
    box-shadow:2px 1px 2px 1px #20616d;
    &:hover{
      background-color: #59D60E;
    }
  }
}

.arrow{
  width: 50px;
  height: 30px;
  background: url(../images/arrow1.svg) no-repeat center;
  background-size: 40px 20px;
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -25px;
  cursor: pointer;
  transition: all,1s;
}

#page2{
  width: 100%;
  height: 600px;
  overflow: hidden;
  #pic{
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
   
      .picshow1{
        background-image:url(../images/IMG_1399.JPG);
        background-size: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      }
      .picshow2{
        background-image:url(../images/IMG_1357.JPG);
        background-size: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      }  
      .picshow3{
        background-image:url(../images/IMG_1409.JPG);
        background-size: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      }  
      .picshow4{
        background-image:url(../images/IMG_1408.JPG);
        background-size: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      }  
      .picshow5{
        background-image:url(../images/IMG_1410.JPG);
        background-size: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      } 
    
         
  }
  #text{

    float: left;
    height: 100%;
    width: 50%;
    padding: 60px;
    line-height: 26px;
    border-left: 1px solid #ccc;
    color: #7D827E;
    overflow: hidden;
    h2,p{
      font-size: 15px;
      letter-spacing: .8px;
      display: block;
      margin-bottom: 30px;
      font-weight: lighter;
    }
    h2{
      color: #000;
      font-size: 22px;

      margin-bottom: 20px;
    }
  }
}
 
.page3{
  width: 100%;
  background: url(../images/dot.svg),radial-gradient(circle farthest-corner at 100% 100%,#46b8cd,#276073 50%,#182e4a);
  background-size: 3px,auto;
  color: #fff;
  padding-top: 50px;
  .fronttitle{
    position: relative;
    height: 280px;
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
    border-bottom: #9A9A9C 1px solid;
    .frontend{
      @include xycenter(160px,600px);
      font-weight: lighter;
      h1{
        font-size: 50px;
        letter-spacing: 4px;
        margin-bottom: 14px;
      }
      p{
        letter-spacing: 2px;
      }
    }
  }
  .container{
    height: 920px;
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 2px;
    // padding: 0 60px;
    overflow: hidden;
    .line1{
      height: 100%;
      padding: 50px 60px;
      .row{
        // text-align: center;
        font-size: 18px;
        line-height: 30px;
        margin-left: 10px;
      }
      >h4{
        padding-top: 80px;
      }
    }
    .line3{
      height: 100%;
      padding: 50px 60px;
      .row{
        margin-top: 60px;
        font-size: 18px;
        line-height: 30px;
        margin-left: 10px;
        // text-align: center;
      }
    }
    .line2{
      height: 100%;
      position: relative;
      img{
        z-index: 100;
        display: block;
        width: 90%;
        margin: 0 auto;

        border-radius: 8px;
      }
    }
    button{
      outline-width: 0px;
      border: none;
      width: 100%;
      height: 60px;
      cursor: pointer;
      margin-top: 50px;
      background-color: #50BD0D;
      border-radius: 5px;
      letter-spacing: 2px;
      font-size: 20px;
      font-weight: normal;
      box-shadow:2px 1px 2px 1px #275d69;
      &:hover{
        background-color: #59D60E;
      }
    }
  }

}
.page4{
  @extend .page3;
  background: #fff;
  color: #142A66;
  overflow: hidden;
  position: relative;
  z-index: 999;
  h1,h4{
    color: #000;
  }
  .container {
    .line1 button{
      color: #fff;
      box-shadow:2px 1px 2px 1px #ccc;
    }
  }
}
.page5{
  @extend .page3;
  background: #F3F7F9;
  position: relative;
  overflow: hidden;
  z-index: 1002;
  color: #000;
  .fronttitle{
    border-bottom: #ccc 1px solid;
  }
  .container{
    padding: 0;
    height: 2000px;
    .left{
      height: 100%;
      padding: 0;
      // width: 30%;
      .card{
        @include card(left);
      }
      .eraser{
        height: 100px;
        transform: rotate(-10deg);
        margin-left: 50px;
        margin-top: 450px;
        &:hover{
          position: relative;
          animation:myfirst 0.2;  
          animation-iteration-count:infinite; 
          -webkit-animation:myfirst 0.2s;  
          -webkit-animation-iteration-count:infinite; 
        }
      }
      .clip1{
        height: 35px;
        transform: rotate(-15deg);
        margin-left: -20px;
        margin-top: 150px;
        &:hover{
          // position: relative;
          animation:mythird 0.2;  
          animation-iteration-count:infinite; 
          -webkit-animation:mythird 0.2s;  
          -webkit-animation-iteration-count:infinite; 
        }
      }
      .clip2{
        height: 35px;
        transform: rotate(18deg);
        margin-left: 50px;
        margin-top: 50px;
        &:hover{
          // position: relative;
          animation:mysecound 0.2;  
          animation-iteration-count:infinite; 
          -webkit-animation:mysecound 0.2s;  
          -webkit-animation-iteration-count:infinite; 
        }
      }
      .cardresume{
        width: 60%;
        margin:100px auto;
        .cardresume1{
          // display: block;
          width: 100%;

        }
      }
      
    }
    .middle{
      height: 100%;
      position: relative;
      z-index: 1800;
      .resu{
        position: relative;
        z-index: 1800;
      }
      // width: 40%;
      img{
        
        display: block;
        width: 90%;
        margin: 0 auto 20px;

        border-radius: 8px;
      }
      .env{
        position: absolute;
        width: 100%;
        bottom: 10px;
        margin: 0 auto 20px;
        img{
          width: 95%;
        }
        .dow{
        // width: 50%;
        // height: 180px;
        @include xycenter(160px,320px);
        border-radius: 5px;
        border:1px #ccc solid;
        position: absolute;
        bottom: 400px;
        z-index: 3000;
        // margin: 0 auto;
        h4{
          text-align: center;
          margin-top: 20px;
          font-size: 25px;
          margin-bottom: 20px;
        }
        button{
          @include xycenter(50px,200px);
          margin-top: -18px;
          color: white;
        }
      }
      }
      .env-bottom{
        position: absolute;
        width: 100%;
        bottom: 758px;
        // margin:auto 20px;
        img{
          width: 95%;
        } 
      }
    }
    .right{
      height: 100%;
      // width: 30%;
      padding: 0;
      position: relative;
      .card{
        @include card(right);
        position: absolute;
        bottom: 140px;
      }
      .book{
        height: 55%;
        padding-left: 30px;
        padding-top: 300px;
        transform: rotate(-10deg);
      }
    }
  }
}

.page6{
  z-index: 2001;
  position: relative;
  background-color: #fff;
  .one{
    height: 300px;
    overflow: hidden;
    .one1{
      width: 33.33%;
      display: block;
      height: 100%;
      background:url(../images/picpic1.jpg) center;
      background-size: cover;
      position: relative;
      overflow: hidden;
      margin:0 auto;
      cursor: pointer;
      .ho{
        width: 100%;
        height: 120%;
        margin:0 auto;
        background-image: url(../images/dot.svg),linear-gradient(-40deg,#46b8cd,#276073 50%,#182e4a);
        background-size: 3px,auto;
        opacity: 0;
        position: absolute;
        top: 0px;
        transition:0.5s;
        p{
          font-size: 24px;
          color: white;
          text-align: center;
          line-height: 300px;
        }
        &:hover{
          top: -10px;
          opacity: 0.8;
          p{
            margin-bottom: 20px;
          }
        }
      }
    }
    .one2{
      @extend .one1;
      background:url(../images/picpic2.jpg) center;
      background-size: cover;

    }
    .one3{
      @extend .one1;
      background:url(../images/picpic3.jpg) center;
      background-size: cover;
    }
  }
  .two{
    height: 500px;
    overflow: hidden;
    .left{
      width: 65%;
      height: 100%;
      position: relative;
      .content{
        @include xycenter(450px, 800px);
        padding: 0 50px;
        letter-spacing: 2px;
        text-align: left;
        h2{
          margin-bottom: 20px;
        }
        form{
          margin-top:-20px;
          input{
            width: 100%;
            margin-top:20px;
            height:50px;
            border:0;
            background:none;
            letter-spacing:2px;
            border-bottom:1px solid #ccc;
            &:focus{
              outline:0;
            }
          }
          button{
            outline-width: 0px;
            border: none;
            width: 226px;
            height: 60px;
            cursor: pointer;
            margin-top: 50px;
            background-color: #50BD0D;
            border-radius: 5px;
            letter-spacing: 2px;
            color: #fff;
            font-size: 20px;
            box-shadow:2px 1px 2px 1px #ccc;
            &:hover{
              background-color: #59D60E;
            }
          }
        }
      }
    }
    .right{
      width: 35%;
      height: 100%;
      padding: 50px 60px;
      .row{
        font-size: 18px;
        li span{
          margin-bottom: 20px;
        }
      }
    }
  }
  .three{
    // background-color: green;
    background-image: url(../images/dot.svg),linear-gradient(-40deg,#46b8cd,#276073 50%,#182e4a);
    background-size: 3px,auto;
    height: 150px;
  }
}



#navbarmain{
  height: 60px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  z-index: 4000;
  letter-spacing: 2px;
  padding: 20px;
  display: none;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow:2px 1px 2px 1px #ccc;
  span{
    background: url("../images/pic1.png") no-repeat;
    background-size: 34px 32px;
    margin-left: 16px;
    padding-left: 50px;
    padding-top: 8px;
    font-size: 17px;
    cursor: pointer;
    &:hover{
      color: #C4CBC3;
    }
  }
  ul{
    font-size: 14px;
    list-style: none;
    float: right;
    margin-top: 4px;
    li,li>a{
      margin-right:20px;
      float: left;
      cursor: pointer;
      &:hover{
        color: #AAAFA8;
      }
    }
  }
}
